*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none; 
}

body {
    background: url('image.jpg');
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 85px;
}


.one{
    float: left;
    font-size: 65px;
    font-weight: bold;
    margin-top: 3.5px;
    margin-left: 25px;
}

.two{
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;  
    margin-right: 25px;
}

.one a{
    color: white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.two a{
    color: white;
    padding: 10px;
    margin-left: 10px;
    max-height: 10px;
}

.one a:hover{
    color: black;
}

.two a:hover{
    color: black;
    background-color: white;
}

.row{
    display: flex;
    justify-content: center;
    margin-top: 6.5%;
}

.pic{
    border: 1px solid black;
    padding: 10px;    
    background-color: rgba(0,0,0,0.3);
    margin-left: 10px;
    margin-right: 10px;
}

.pic img{
    height: 250px;
    width: 250px;
    object-fit: scale-down;    
    width: 100%;
}    

.pic div{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.3);
    font-size: 25px;
    color: white;
    font-weight: bold;
    object-fit: scale-down;    
}

.but{
    margin-top: auto;
    margin-bottom: auto;
    
}

.but .previous, .but .next{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.3);
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.but .previous:hover, .but .next:hover, .pic div:hover{
    color: black;
    background-color: white;
}
