*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: url('image.jpg');
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 85px;
}


.one{
    float: left;
    font-size: 65px;
    font-weight: bold;
    border: #;
    margin-top: 3.5px;
    margin-left: 25px;
}

.two{
    float: right;
    font-size: 25px;
    font-weight: bold;
    border: #;
    margin-top: 30px;  
    margin-right: 25px;
}

.one a{
    background-color: #;
    color: white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.two a{
    background-color: #;
    color: white;
    padding: 10px;
    margin-left: 10px;
    max-height: 10px;
}

.one a:hover{
    color: black;
}

.two a:hover{
    color: black;
    background-color: white;
}


.three{
    border: 1px solid black;
    background-color: rgba(0,0,0,0.3);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom:150px;
    margin-top: 7.5%;
    object-fit: contain;
}

.three p{
    color: white;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

